CMakeSettings.json
/out
/build
/.github
/.tx

# game files
/data/data/TFTD/*
!/data/data/TFTD/README.txt
/data/data/UFO/*
!/data/data/UFO/README.txt

# visual studio 2022
/.vs/CMake Overview
/.vs/CMakeWorkspaceSettings.json
/.vs/cmake.db
/.vs/OpenXcom
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/vc140.pdb
/.vs/*
/obj/*
/src/.vs/*
/src/build/x64
